# Advanced Functions That are Commonly Used With Lambda

##### Rabbani Mozahid

<br />
<br />



Lambda functions are regularly used with the built-in functions map() and filter(), as well as functools.reduce(). These functions take another function as their argument. The argument function can be a normal function or a lambda function.

### Map()

In [3]:
list1=['cat', 'dog', 'cow']

**map() takes a function as an argument**

In [13]:
animals=map(lambda x: x.upper(),list1 )
animals

In [14]:
next(animals)

'CAT'

In [15]:
next(animals)

'DOG'

Using a loop or iterables you can access all of them one by one

In [18]:
list(map(lambda x: x.upper(),list1 ))

['CAT', 'DOG', 'COW']

### Filter()

In [16]:
list(filter(lambda x: 'a' in x, ['cat', 'dog', 'cow','man']))

['cat', 'man']

In [14]:
from functools import reduce
reduce(lambda p, x: f'{p}+{x}', ['cat', 'dog', 'cow'])

'cat+dog+cow'

### Reduce()

In [28]:
from functools import reduce
reduce(lambda p, x: p + x, [1,2,3,4,5,6])

21

### Sort() and Sorted()

Sort this list using builtin sorted()function along with a lambda function

In [40]:
ids = ['id1', 'id2', 'id30', 'id3', 'id22', 'id100']

In [33]:
print(sorted(ids)) # Lexicographic sort

['id1', 'id100', 'id2', 'id22', 'id3', 'id30']

In [34]:
sorted_ids = sorted(ids, key=lambda x: int(x[2:])) # Integer sort
print(sorted_ids)

['id1', 'id2', 'id3', 'id22', 'id30', 'id100']

### Excercise 3
#### Sort this list based on number secuence

`['City1', 'City24', 'City102', 'City3', 'City52', 'City100']`

In [24]:
# ascending

['City1', 'City3', 'City24', 'City52', 'City100', 'City102']

In [63]:
# descending

['City102', 'City100', 'City52', 'City24', 'City3', 'City1']

### Excercise 4 (Extra Credit)
#### Write a Python program to create Fibonacci series upto n using Lambda.

The Fibonacci numbers are the numbers in the following integer sequence.

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..

Fn = Fn-1 + Fn-2  with seed values   F0 = 0 and F1 = 1.

Hint: Use lambda function with reduce

from functools import reduce